@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ui-text-font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --ui-text-line-height: 1.5;
    --ui-text-font-weight: 400;

    --ui-color-foreground: 210 40% 98%;
    --ui-color-background: 223 84% 4%;

    --ui-color-danger: 5 100% 73%;
    --ui-color-success: 150 100% 70%;
    --ui-color-warning: 40 100% 76%;
    --ui-color-info: 210 100% 70%;

    --ui-color-primary: 165 100% 37%;
    --ui-color-primary-foreground: 165 100% 3%;
    --ui-color-primary-contrast: 165 100% 64%;

    --ui-color-border: 217.2 32.6% 17.5%;
    --ui-color-border-contrast: 217.2 32.6% 17.5%;

    --ui-color-surface: 223 84% 5%;
    --ui-color-surface-contrast: 210 40% 98%;
    --ui-color-border-surface: 223 27% 26%;

    --ui-color-secondary: 217.2 32.6% 17.5%;
    --ui-color-secondary-foreground: 210 40% 98%;
    --ui-color-secondary-contrast: 217.2 32.6% 17.5%;

    --ui-color-accent: 220 100% 70%;
    --ui-color-accent-foreground: 223 84% 4%;
    --ui-color-accent-contrast: 220 40% 10%;
  }

  html {
    font-family: var(--ui-text-font-family);
    line-height: var(--ui-text-line-height);
    font-weight: var(--ui-text-font-weight);
    color: hsl(var(--ui-color-foreground));
    background-color: hsl(var(--ui-color-background));

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-height: 100vh;
  }

  #root {
    display: contents;
  }

  .light {
    --ui-color-foreground: 210 40% 2%;
    --ui-color-background: 223 84% 96%;

    --ui-color-danger: 5 100% 37%;
    --ui-color-success: 150 100% 22%;

    --ui-color-danger: 5 100% 37%;
    --ui-color-success: 150 100% 22%;
    --ui-color-warning: 40 100% 26%;
    --ui-color-info: 210 100% 32%;

    --ui-color-primary: 165 100% 37%;
    --ui-color-primary-foreground: 165 100% 3%;
    --ui-color-primary-contrast: 165 100% 10%;

    --ui-color-border: 217.2 32.6% 82.5%;
    --ui-color-border-contrast: 217.2 32.6% 82.5%;

    --ui-color-surface: 223 84% 95.1%;
    --ui-color-surface-contrast: 210 40% 2%;
    --ui-color-border-surface: 223 86% 80%;

    --ui-color-secondary: 217.2 32.6% 82.5%;
    --ui-color-secondary-foreground: 210 40% 2%;
    --ui-color-secondary-contrast: 217.2 32.6% 82.5%;

    --ui-color-accent: 220 100% 53%;
    --ui-color-accent-foreground: 223 84% 96%;
    --ui-color-accent-contrast: 220 40% 90%;
  }
}
